# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_PID=/opt/tomcat/8.5.16/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/tomcat/8.5.16
Environment=CATALINA_BASE=/opt/tomcat/8.5.16

ExecStart=/opt/tomcat/8.5.16/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat
Group=tomcat

[Install]
WantedBy=multi-user.target